@import "tailwindcss";
@plugin "daisyui";

@layer utilities {

  @keyframes zoom-in {
    0%   { transform: scale(1); }
    100% { transform: scale(1.15); }
  }

  @keyframes zoom-out {
    0%   { transform: scale(1.15); }
    100% { transform: scale(1); }
  }

  .animate-zoom-in {
    animation: zoom-in 4s ease-in-out forwards;
  }

  .animate-zoom-out {
    animation: zoom-out 4s ease-in-out forwards;
  }
}
